{% extends "base.html" %}
{% load static %}
{% block title %}Page Not Found{% endblock %}
{% block body_class %}error-page{% endblock %}



{% block head_extra %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/404.css' %}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption" rel="stylesheet" /> -->
{% endblock %}

{% block content %}
  <div class="error-page-content">
    <div class="error-visual">
      <div class="error">
        <div class="container-fluid">
          <div class="ground-color text-center">
            <div class="container-error-404">
              <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
              <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
              <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
              <div class="msg">OH!<span class="triangle"></span></div>
            </div>
            <h2 class="h1">Sorry! Page not found</h2>
            <p><a class="error-home-link" href="/profile">Return Home</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/404.js' %}"></script>
{% endblock %}

